<div class="sub_task">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <span>Add Sub Task...</span>
                    </div>
                    <div class="card-body">
                        <form name="subTaskForm" #subTaskForm="ngForm" (ngSubmit)="subTask(subTaskForm.value)">
                                <label>Sub Task Name: *</label>
                                <input type="text" name="subTaskName" #subTaskName="ngModel" ngModel class="form-control"><br>
                                <label>Description</label>
                                <textarea name="description" #description="ngModel" ngModel class="form-control"></textarea>
                                <br>
                                <button class="btn btn-sm">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
             <div class="table">
                 <table class="table">
                   <thead>
                       <th>#</th>
                       <th>Task Name</th>
                       <th>Type</th>
                       <th>Description</th>
                       <th>Created date</th>
                   </thead>
                   <tbody>
                       <tr *ngFor='let task of addSubTask;let i=index'> 
                           <td>{{i+1}}</td>
                           <td>{{task.subTaskName}}</td>
                           <td>{{task.taskName}}</td>
                           <td>{{task.description}}</td>
                           <td>{{task.createDate}}</td>
                       </tr>
                   </tbody>
                 </table>
             </div>
    
            </div>
        </div>
</div>
